/* Universal Styles */

html {
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    border-bottom: solid 2px goldenrod;
    background-color: white;
    z-index: 6;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1.875rem;
}

header .logo {
    flex: 1;
    color: black;
    text-shadow: 1.5px 1.5px goldenrod;
    font-size: larger;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 3.5rem;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: black;
    text-shadow: 1.5px 1.5px goldenrod;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 760px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
        width: 100%;
    }

    header .content {
        padding: .5rem 0;
    }

    header .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    header .mobile li {
        padding: 0;
    }
}